body {
    margin: 0;
    padding: 0;
    background: #424950;
}
#box {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    padding: 10px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
}
